.card-product{
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    background-color: lightsteelblue;
}  
.list{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 1rem;
  }  
  .btn-list{
    background-color: lightslategrey;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
  img{
    width: 250px;
   height: 200px;
    border-radius: 10px;
    box-shadow: 10px;
  }
  .list-shop {
	font-size: 40px;
  color: black;
  padding: 20px 30px;
	font-family: sans-serif;
	background-image:linear-gradient(to bottom,rgb(189, 187, 209),gray);
	
	letter-spacing: 0.1em;
	width: 7em;
    border-radius: 10px;
	position: relative;
	overflow: auto;
	margin: 0.5em;
	cursor: pointer;
}
.list-shop-item{
  padding: 20px;
  border-bottom: solid;
  
}
.list-shop-item:hover{
background-color: dimgrey;
}
.list-shop-item-active{
  background-color: dimgrey;
  }
.card-title{
    font-size: 30px;
    text-decoration:solid;
}