.navbar{
    color:white;
    position: fixed;
    top:0;
    
    width: 100%;
    font-size:large;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);}

    .nav-wrapper{
        display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 70px;
    padding: 0px 50px;

    }
    .title-card{
        margin-left: 30px;
        font-weight: bolder;
        font-size: 30px;
        text-decoration: none;
    }
    .brand-logo{
        font-weight: bolder;
        font-size: 30px;
        text-decoration: none;
    }